<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8">

    <title>Начало</title>
<style>
   .layer1 {
    position: relative; 
    height: 500px; 
   }
   .layer2 {
    position: absolute; 
    bottom: 0px; 
    right: 915px; 
    line-height: 1px;
   }
</style>
    <link rel="stylesheet" href="css/home.css">
</head>

<div class="layer1">
   <div class="layer2">
    <p class="logo"> <img src="logo.png" width="790" height="340"></p>
	<nav role='navigation'>
  <ul>
    <li><a href="schedule.html">Расписание</a></li>
    <li><a href="#">Преподователи</a></li>
    <li><a href="regisration.html">Регистрация</a></li>
    <li><a href="authorization.html">Вход</a></li>
  </ul>
</nav>  
<body>	
    



</body>

</html>