<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8">

    <title>Регистрация</title>
    <style></style>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <p class="logo"> <img src="logo.png" width="395" height="170"></p>
    

   <form action="" class="ui-form">
  <h3>Регистрация</h3>
  <div class="form-row">
    <input type="text" id="email" required autocomplete="off"><label for="email">Имя:</label>
  </div>
   <div class="form-row">
    <input type="text" id="email" required autocomplete="off"><label for="email">Логин:</label>
  </div>
  <div class="form-row">
    <input type="password" id="password" required autocomplete="off"><label for="password">Пароль:</label>
  </div>
  <p><input type="submit" value="Войти"></p>
</form>
</body>

</html>